body {
    text-align: center;
}

#pic {
    margin: 70px;
    width: 200px;
    border-radius: 30px;
}

#span1 {
    font-family: cursive;
    font-size: 25px;
}

#name {
    font-family: serif ( !important);
    color: darkslategray;
    text-decoration: underline;
}

#section1 {
    background: linear-gradient(#ff0000 0%, #ffdd00 100%);
    height: 500px;
}

#section2 {
    background: linear-gradient(#ffdd00 0%, #48ff00 100%);
    height: 200px;
    padding: 50px;
}

#section3 {
    background: linear-gradient(#48ff00 0%, #00ff8c 100%);
    height: 700px;
    padding: 50px;
}

#section4 {
    background: linear-gradient(#00ff8c 0%, #009dff 100%);
    height: 500px;
    padding: 50px;
}

#section5 {
    background: linear-gradient(#009dff 0%, #3700ff 100%);
    height: 350px;
    padding: 50px;
}

#section6 {
    background: linear-gradient(#3700ff 0%, #ff00f2 100%);
    height: 550px;
    padding: 50px;
}

#section7 {
    background: linear-gradient(#ff00f2 0%, #ff001e 100%);
    height: 200px;
    padding: 50px;
}

h1 {
    font-family: serif;
    text-decoration: underline;
    text-decoration-color: darkcyan;
    text-decoration-style: double;
}

h3 {
    font-size: 20px;
    font-family: monospace;
}

.image {
    height: 350px;
}

.ulist {
    position: fixed;
    background-color: bisque;
    list-style: none;
    margin-left: 280px;
    margin-top: 20px;
}

.list {
    float: left;
    font-size: 23px;
}
